# Import Commonly Used Package

In [22]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

# Go Through Your Data Sets

In [23]:
#Read data from local
train=pd.read_csv('/Users/Tyge Y Qian/Desktop/DataScience Tutorial/titanic/train.csv')
to_predict=pd.read_csv('/Users/Tyge Y Qian/Desktop/DataScience Tutorial/titanic/test.csv')

In [24]:
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin
0            1         0       3    1  22.0      1      0   7.2500   NaN
1            2         1       1    0  38.0      1      0  71.2833   C85
2            3         1       3    0  26.0      0      0   7.9250   NaN
3            4         1       1    0  35.0      1      0  53.1000  C123
4            5         0       3    1  35.0      0      0   8.0500   NaN

In [25]:
to_predict.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare Cabin
0          892       3    1  34.5      0      0   7.8292   NaN
1          893       3    0  47.0      1      0   7.0000   NaN
2          894       2    1  62.0      0      0   9.6875   NaN
3          895       3    1  27.0      0      0   8.6625   NaN
4          896       3    0  22.0      1      1  12.2875   NaN

In [26]:
# Have a brief idea of your data
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Cabin          204 non-null object
dtypes: float64(2), int64(6), object(1)
memory usage: 62.8+ KB

# Data Cleaning

In [27]:
#Because there are too much NAs in column Cabin, drop column Cabin
train=train.drop(['Cabin'],axis=1)
to_predict=to_predict.drop(['Cabin'],axis=1)
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [28]:
#Drop those rows contain NAs
train=train.dropna()
to_predict=to_predict.dropna()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 8 columns):
PassengerId    714 non-null int64
Survived       714 non-null int64
Pclass         714 non-null int64
Sex            714 non-null int64
Age            714 non-null float64
SibSp          714 non-null int64
Parch          714 non-null int64
Fare           714 non-null float64
dtypes: float64(2), int64(6)
memory usage: 50.2 KB

# Split the Data

In [29]:
#randomly split as training and validation dataset
from sklearn.model_selection import train_test_split
train_df,test_df=train_test_split(train,test_size=0.3)
print('train_df has',train_df.shape[0],'rows and',train_df.shape[1],'columns')
print('test_df has',test_df.shape[0],'rows and',test_df.shape[1],'columns')

train_df has 499 rows and 8 columns
test_df has 215 rows and 8 columns

# Model Building

## Random Forest

In [37]:
from sklearn.ensemble import RandomForestClassifier
# Generate RandomForestClassifier Model to fit our train_df data
rf1=RandomForestClassifier(max_depth=6,max_leaf_nodes=10).fit(train_df.drop(columns='Survived'),train_df['Survived'])

# Use trained Model to predict on the test data
rf1Pred=rf1.predict(test_df.drop(columns='Survived'))

C:\Users\Tyge Y Qian\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

# Validating

In [68]:
print('# of prediction as 1:',len(rf1Pred[rf1Pred==1]))
print('# of prediction as 0:',len(rf1Pred[rf1Pred==0]))
print('# of actual as 1:',len(test_df[test_df['Survived']==1]))
print('# of actual as 0:',len(test_df[test_df['Survived']==0]))

# of prediction as 1: 70
# of prediction as 0: 145
# of actual as 1: 97
# of actual as 0: 118

In [72]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(test_df['Survived'],rf1Pred,labels=[1,0])
print(cm)

[[ 62  35]
 [  8 110]]